:root {
    --background: #fffbf0;
    --navcolor: #e4ddf4;
    --primary: #943d24;
    --darkgrey: #2d2d2d;
    --darkgreen: #282612;
}

body    {
    background-color: var(--background);
}

.navbackground  {
    background-color: var(--navcolor);
}

.navbar-nav .nav-item:hover .nav-link {
    color: var(--primary);
}