@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

:root {
    --background: #fffbf0;
    --navcolor: #e4ddf4;
    --primary: #943d24;
    --darkgrey: #2d2d2d;
    --darkgreen: #282612;
}

body    {
    background-color: var(--background);
}

.navbackground  {
    background-color: var(--navcolor);
}

.navbar-nav .nav-item:hover .nav-link {
    /* Stylizacja koloru podświetlenia menu */
    color: var(--primary);
}

#mainImage  {
    border-left-color: var(--primary);
    border-left-width: 5px;
    border-left-style: solid;
}

#mainMotto   {
    font-family: 'Dosis', sans-serif;
    font-size: 6vw;
    color: var(--darkgreen);
}

@media  (max-width: 1200px) {
    #mainMotto  {
        font-size: 12vw;
    }
}
