@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

:root {
    --background: #fffbf0;
    --navcolor: #e4ddf4;
    --primary: #943d24;
    --darkgrey: #2d2d2d;
    --darkgreen: #282612;
}

.active {
    color: var(--primary) !important;
}

body    {
    background-color: var(--background);
}

.customNav  {
    background-color: var(--navcolor);
}

.navbar-nav .nav-item:hover .nav-link {
    /* Stylizacja koloru podświetlenia menu */
    color: var(--primary);
}

#mainImage  {
    border-left-color: var(--primary);
    border-left-width: 5px;
    border-left-style: solid;
}

#mainMotto   {
    font-family: 'Dosis', sans-serif;
    font-size: 6vw;
    color: var(--darkgreen);
    text-align: center;
    margin-bottom: 2vw;
}

#advertText {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 1.3vw;
    text-align: center;
    color: var(--darkgrey);
    background-color: var(--navcolor);
    padding: 10px 30px;
}

.borderRight    {
    border-right-color: var(--primary);
    border-right-width: 5px;
    border-right-style: solid;
}

.inlineLink {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.inlineLink:hover  {
    color: var(--primary);
}

@media  (max-width: 1199px) {
    #mainMotto  {
        font-size: 12vw;
        color: var(--primary);
    }

    #advertText {
        font-size: 4vw;
    }

    .borderRight    {
        border-right: none;
    }
}


