RewriteEngine on

RewriteRule ^kontakt$ kontakt.php [NC]
RewriteRule ^o-zespole$ about.php [NC]
RewriteRule ^oprawa-muzyczna-slubu$ slub.php [NC]
RewriteRule ^oferta-koncertowa$ oferta.php [NC]
RewriteRule ^duet-amabile$ index.php [NC]

ErrorDocument 404 https://amabile.pl/error.php