<nav class="navbar navbar-expand-xl navbar-light customNav">
    <div class="container">
        <a class="navbar-brand" href="duet-amabile">
            <img src="images/logo_czarne.gif" alt="Duet Amabile Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                <li class="nav-item p-xl-4">
                    <a class="nav-link duet-amabile-trigger" href="duet-amabile">Strona główna</a>
                </li>
                <li class="nav-item p-xl-4">
                    <a class="nav-link oferta-koncertowa-trigger" href="oferta-koncertowa">Oferta koncertowa</a>
                </li>
                <li class="nav-item p-xl-4">
                    <a class="nav-link oprawa-muzyczna-slubu-trigger" href="oprawa-muzyczna-slubu">Muzyka na ślubie</a>
                </li>
                <li class="nav-item p-xl-4">
                    <a class="nav-link o-zespole-trigger" href="o-zespole">O zespole</a>
                </li>
                <li class="nav-item p-xl-4">
                    <a class="nav-link kontakt-trigger" href="kontakt">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>